html
{
	height: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
}
*, *:before, *:after {box-sizing: inherit;}
body
{
	margin: 0px;
	background-image: url('images/bg.png');
	font-family: Calibri, Tahoma, Arial, Serif;
	position: relative;
	min-height: 100%;
}
a:link, a:visited{
	color: inherit;
	text-decoration: inherit;
}
.footer
{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	line-height: 50px;
	box-shadow: 2px 1px 5px 0px black;
	color: white;
	border-top: 2px solid #333333;
	background-color: black;
	text-align: center;
}
.top{
	box-shadow: 2px 1px 5px 0px black;
	color: white;
	border-bottom: 2px solid #333333;
	background-color: black;
	text-align: center;
}
.top_info{
	margin: auto;
	max-width: 1200px;
	line-height: 50px;
}
.left, .right
{
	display: inline-block;
	width: 50%;
	position: relative;
	z-index: 2;
	padding-left: 20px;
	padding-right: 20px;
}
.left
{
	text-align: left;
}
.right
{
	text-align: right;
}
.logo
{
	text-align: center;
	-webkit-user-select: none;
	position: relative;
	top: -80px;
	z-index: 1;
}
.logo img
{
	position: relative;
	width: 264px;
}
.logo a {outline: none;}
.social
{
	position: absolute;
	left: 15px;
	top: 42px;
	z-index: 1;
	background-color: black;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-user-select: none;
	outline: none;
	z-index: 3;
	box-shadow: 2px 1px 5px 0px black;
	border: 2px solid #666666;
}
.social img
{
	width: 24px;
	padding: 3px;
}
.menu
{
	text-align: center;
	position: relative;
	z-index: 2;
	top: -116px;
	max-width: 1200px;
	margin: auto;
}
.menu_item, .menu_item_selected
{
	display: inline-block;
	width: 120px;
	border-radius: 10px;
	line-height: 36px;
	font-weight: bold;
	box-shadow: 2px 1px 5px 0px black;
	color: white;
	border: 2px solid white;
	background-color: black;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 6px;
}
.menu_item:hover, .menu_item_selected
{
	color: white;
	border: 2px solid #bf4040;
}
.content_wrapper
{
	text-align: center;
	position: relative;
	top: -104px;
}
.content
{
	max-width: 600px;
	text-align: left;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 3px 2px 8px 0px black;
	font-size: 12pt;
	border-left: 6px solid #cc6666;
	border-right: 6px solid #cc6666;
}
.content_temp
{
	width: 1100px;
	text-align: left;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 3px 2px 8px 0px black;
	font-size: 12pt;
	border-left: 6px solid #cc6666;
	border-right: 6px solid #cc6666;
}
.content_temp li
{
	font-size: 16pt;
}
.content_temp h1
{
	font-size: 40pt;
}
.separator
{
	display: inline-block;
	width: 20px;
}
.data
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-radius: 10px 10px 10px 10px;
	background-color: #cc6666;
	box-shadow: 3px 2px 8px 0px black;
	top: -125px;
	font-size: 9pt;
}
.radius_top
{
	height: 10px;
	-webkit-user-select: none;
}
.radius_bottom
{
	line-height: 10px;
	-webkit-user-select: none;
}
.empty_row
{
	line-height: 2px;
	-webkit-user-select: none;
	background-color: black;
}
.filter td
{
	text-align: center;
}
.filter, .filter select
{
	background-color: #e6b3b3;
	font-size: 8pt;
}
.filter select
{
	height: 30px;
	font-family: Trebuchet MS;
	font-weight: bold;
	border: 0px;
	outline: none;
	cursor: pointer;
	-moz-appearance: none;
	text-align: center;
}
.sort td
{
	background-color: black;
	color: #f2d9d9;
	text-align: center;
	-webkit-user-select: none;
}
.row
{
	height: 30px;
}
.row:nth-child(odd)
{
	background-color: #f5e2e2;
}
.row:nth-child(even)
{
	background-color: white;
}
.row:hover
{
	background-color: #bf4040;
	color: white;
	cursor: default;
}
.column, .col_right, .col_yes, .col_no
{
	padding-left: 10px;
	padding-right: 10px;
}
.col_right
{
	text-align: right;
}
.col_yes
{
	text-align: center;
	color: #29a329;
}
.col_no
{
	text-align: center;
	color: #cc3333;
}
.edit, .delete, .add, .delete_fail
{
	font-size: 8pt;
	font-weight: bold;
	outline: none;
	text-align: center;
}
.edit, .delete
{
	width: 60px;
	padding-left: 0px;
	padding-right: 0px;
}
.edit, .delete {line-height: 30px;}
.add {line-height: 40px;}
.delete_fail, {line-height: 12px;}
.edit:hover, .delete:hover, .add:hover, .delete_fail {color: white;}
.edit:hover {background-color: #222287;}
.delete:hover, .delete_fail {background-color: #882222;}
.add:hover {background-color: #22873b}

.table_footer td
{
	background-color: #e6b3b3;
	height: 40px;
}
.table_info
{
	font-weight: bold;
	font-size: 10pt;
	padding-left: 10px;
	padding-right: 10px;
}
.table_footer span {color: #993333;}
.clear:link, .clear:visited {color: #cc2200;}
.clear:hover, .clear:visited:hover {text-decoration: underline;}
.clear_x {color: #ff8066;}

.form
{
	width: 600px;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
	box-shadow: 3px 2px 8px 0px black;
	border-left: 6px solid #cc6666;
	border-right: 6px solid #cc6666;
}
.form input[type=text], .form input[type=date], .form select, .login, .login_btn
{
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
	margin-top: 5px;
	border: 2px solid #cccccc;
	text-align: center;
}
.form input[type=text], .form input[type=date], .form select, .login
{
	background-color: #f4f4f4;
}
.form input[type=text], .form input[type=date], .form select
{
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}
.login, .login_btn
{
	width: 130px;
	padding: 5px;
	margin-right: 6px;
}
.login_btn
{
	background-color: black;
	color: white;
	cursor: pointer;
}
.login_btn:hover
{
	background-color: #bf4040;
}
.form input[type=checkbox]
{
	cursor: pointer;
}
.form select
{
	border-radius: 10px 0px 0px 10px;
}
.form table
{
	width: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.form input[type=submit], .form input[type=reset]
{
	width: 100%;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
.btn_reset input, .btn_cancel input {background-color: #e5e5e5;}
.btn_save input {background-color: #ccffcc;}
.btn_delete input{background-color: #ffcccc;}
.btn_reset input:hover, .btn_cancel input:hover{background-color: #cccccc;}
.btn_save input:hover{background-color: #99ff99;}
.btn_delete input:hover{background-color: #ff9999;}

.error
{
	margin-top: 20px;
	padding: 1px;
	border-radius: 10px;
	background-color: #ffff99;
	font-size: 9pt;
	font-weight: bold;
}